@font-face {
  src: url(fonts/GreatVibes.ttf);
  font-family: GreatVibes;
}
@font-face {
  src: url(fonts/Bebas.ttf);
  font-family: Bebas;
}
#MS {
  text-align: center;
  color: #d54d7b;
  font-family: "GreatVibes", cursive;
  font-size: 165px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
#description {
  color: #7a7c7f;
  font-size: 29px;
  font-family: "Libre Baskerville", serif;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}
#survey-form {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  border-radius: 15px 100px 30px;
  text-align: center;
  font-family: "Bebas", cursive;
  padding: 14px;
  letter-spacing: 1px;
}
#submit {
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
  border-radius: 15px 90px 30px;
  font-size: 24px;
  border: 1px solid #f05f57;
  padding: 4px 14px;
  display: inline-block;
}
#textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#name {
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 22px;
  border-radius: 10px;
}
#email{
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 22px;
  border-radius: 10px
}
#number{
  border: none;
  border-bottom: 2px solid cyan;
  font-size: 22px;
  border-radius: 10px;
  width: 14%;
}